<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User | COSTA</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/wallet.css">
    <style>
        /* Add any additional custom styles here if needed */
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light outer-nav">
        <a class="navbar-brand costa-logo" href="/costa">COSTA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse nav-my-links" id="navbarNav">
            <ul class="navbar-nav">
                <!-- Add 'active' class to the active link -->
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home?For=Men">Men</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home?For=Women">Women</a>
                </li>
               
                <li class="nav-item">
                    <a class="nav-link" href="/home/wishlist"><img class="wishlist" src="/images/icons8-heart-24(3).png"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/cart"><img class="carticon" src="/images/icons8-cart-30.png"></a>
                </li>
                <li class="nav-item">
                    <!-- Add a logout/login link here based on user login status -->
                </li>
            </ul>
        </div>
    </nav>
    <div class="main">
        <div class="col-md-2">
            <div class="leftDiv">
              <div class="myAccount">  <h4 >My Account</h4></div>
                <ul>
                    <li><a href="/user/Profile">Orders</a></li>
                    <hr style="width: 85%; color: rgba(0, 0, 0, 0.323);">
                    <li><h6>Profile</h6></li>
                    <li><a  href="/user/profile/personalInfo">Personal Information</a></li>
                    <li><a href="/user/profile/addressBook">Address Book</a></li>
                    <li><a href="/user/profile/wallet"><span style="color:#f26422 ;">Wallet</span></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-8">
            <div class="rightDiv">
                <h5>COSTA WALLET</h5>
                <div style="margin-top: 30px; background-color: rgba(206, 202, 202, 0.408);height: 100px;padding-top: 30px;">
               <div style="font-size: 17px;" > Your Wallet Balance is</div>
                <div style="font-size: 18px;font-weight: 600;"> &#8377; <%= walletBalance %></div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
